<!DOCTYPE html>
<html>
    <head>
        <title>Acronyms Translator</title>
    </head>
    <body>
        <h1>Acronyms Translator</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <label for="word_file">Word File:</label>
            <input type="file" id="word_file" name="word_file">
            <br>
            <label for="csv_file">CSV File:</label>
            <input type="file" id="csv_file" name="csv_file">
            <br><br>
            <input type="submit" value="Translate">
        </form>
    </body>
</html>
